body {
  background-color: #eff5ff;
  display: flex;
  padding: 105px 250px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  body {
    margin: 0;
    display: flex;
    padding: 0;
    flex-direction: column;
  }
}
