.stepFormContainer {
  display: flex;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.1);
  width: 940px;
}
.MuiStepConnector-root {
  flex: 0;
}
.stepperContainer {
  width: 274px;
  height: 568px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  background-image: url("../Icons/Oval.svg");
  background-repeat: no-repeat;
  background-size: cover;
  gap: 31px;
  padding: 40px 0 0 32px;
  margin: 16px 0 16px 16px;
}
.formerContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
}
.subFormContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  gap: 35px;
  height: 80%;
}
.title {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
.textField {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #d6d9e6;
}
.textField:hover {
  border: 1px solid #483eff;
}

.stepNextButton {
  border-radius: 8px;
  background: #022959;
  width: 123px;
  height: 48px;
  color: #fff;
  font-weight: 500;
}

.stepNextButton:hover {
  background: #164a8a;
}
.stepNextButton:disabled {
  background-color: #164a8a;
  color: #9699aa;
}

.stepConfirmButton {
  border-radius: 8px;
  background: #483eff;
  width: 123px;
  height: 48px;
  color: #fff;
  font-weight: 500;
}

.stepConfirmButton:hover {
  background: #928cff;
}

.backButton {
  color: #9699aa;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.backButton:hover {
  color: #022959;
}

.radioContainer {
  display: flex;
  gap: 18px;
  width: 100%;
}
.switchContainer {
  height: 48px;
  border-radius: 8px;
  background-color: #f8f9ff;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.selected {
  color: #022959;
}
.unselected {
  color: #9699aa;
}

.payListContainer {
  padding: 16px 24px 24px 24px;
  width: 85%;
  border-radius: 8px;
  background: #f8f9ff;
}
.optionPayContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.totalPayContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pickContainer {
  width: 100%;
  display: flex;
  border-radius: 8px;
  border: 1px #022959;
  background-color: #9699aa;
}

.checkboxCardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.thankFormContainer {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 14px;
}

.stepper {
  color: #fff;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.changeLinkContainer {
  color: #9699aa;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
}

.changeLinkContainer:hover {
  color: #483eff;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-decoration-line: underline;
}

.stepButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.error {
  color: #c7352e;
}

@media (max-width: 500px) {
  .stepFormContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    box-shadow: 0;
  }

  .stepperContainer {
    width: 100%;
    height: 120px;
    position: absolute;
    display: flex;
    background-size: cover;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    border-radius: 0;
    gap: 0;
    padding: 20px 0 0 0;
    margin: 0;
    background-position-y: bottom;
  }

  .formerContainer {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 10%;
    position: absolute;
    margin-top: 0;
  }
  .stepButtonContainer {
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 92%;
    padding: 4%;
    margin-top: 5%;
  }

  .stepper,
  .stepLabel {
    display: none;
  }

  .subFormContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    height: auto;
    background-color: #fff;
    gap: 35px;
    padding: 32px 24px;
    border-radius: 10px;
  }

  .radioContainer {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
  }

  .thankFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: #fff;
    gap: 35px;
    padding: 32px 24px;
    border-radius: 10px;
  }
}
